<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_UserName" translate="label" sortOrder="9">
            <label>Amasty User Name</label>
        </tab>
        <section id="test_config" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>User Name Config</label>
            <tab>Amasty_UserName</tab>
            <resource>Amasty_UserName::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled"  type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Module Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="welcome_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Welcome Text</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="hide"  type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide/Show QTY field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="qty_number" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QTY Default</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="hide">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
