<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <test_config>
            <general>
                <enabled>1</enabled>
                <welcome_text>Hi, anybody!</welcome_text>
                <hide>1</hide>
                <qty_number>7</qty_number>
            </general>
        </test_config>
    </default>
</config>
