<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <type name="Amasty\UserName\Block\UsernameForm">-->
<!--        <plugin name="Amasty_SecondUsername::ChangeFormAction" type="Amasty\SecondUserName\Plugin\ChangeFormAction"/>-->
<!--    </type>-->
    <preference for="Amasty\UserName\Controller\Username\Username" type="Amasty\SecondUserName\Controller\Index"/>
</config>


        <!--<?xml version="1.0"?>-->
        <!--&lt;!&ndash;-->
        <!--/**-->
        <!-- * Copyright © Magento, Inc. All rights reserved.-->
        <!-- * See COPYING.txt for license details.-->
        <!-- */-->
        <!-- &ndash;&gt;-->
        <!--<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">-->
        <!--&lt;!&ndash;    <preference for="Amasty\UserName\Block\Index" type="Amasty\SecondUserName\Block\Index"/>&ndash;&gt;-->
        <!--    <type name="Amasty\UserName\Block\Index">-->
        <!--        <arguments>-->
        <!--            <argument name="nameProvider" xsi:type="object">Amasty\SecondUserName\Model\ValeraProvider</argument>-->
        <!--        </arguments>-->
        <!--    </type>-->
        <!--</config>-->